.Navbar-container {
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(241, 241, 255);
  padding: 10px;
}
.Navbar-logo h1 {
  margin: 0;
}
.Navbar-lists ul {
  display: flex;
  margin: 0;
  padding: 8px;
}
.Navbar-lists ul li {
  list-style: none;
  padding: 10px 17px;
}
.getStartedLink {
  background-color: rgb(212, 212, 255);
  color: rgb(0, 30, 255);
  padding: 0;
  border-radius: 10px;
  margin-left: 5px;
}
